{% extends "admin_layout.html" %}

{% block page_header %}

<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-l">{{title}}</h1>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Google Analytics provides extensive statistical reporting for digital services.</p>
        <p class="govuk-body">You'll need a <a
                href="https://accounts.google.com/signup/v2/webcreateaccount?service=accountsettings&continue=https%3A%2F%2Fmyaccount.google.com%2F&gmb=exp&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp"
                target="_blank">Google Account</a> based on your Commission email address.</p>

        <div class="govuk-inset-text">
            Ask Andy Williams-Jones, Toni Headen or Scott McMullen for access to Google Analytics
        </div>
        <p class="govuk-body">
        <a href="https://analytics.google.com" target="_blank">Access Google Analytics</a></p>

    </div>

</div>
{% endblock %}