{% extends "admin_layout.html" %}

{% block page_header %}
<a href="/services/" class="govuk-back-link">Back</a>
<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-l">{{serviceData.name}}</h1>
{% endblock %}



{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">{{serviceData.summary}}</p>

     </div>
    <div class="govuk-grid-column-one-third">  
    

    </div>
</div>
{% endblock %}