{% extends "admin_layout.html" %}

{% block page_header %}

<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-l">{{title}}</h1>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <p class="govuk-body">In principle, use the styles, components and patterns from the <a
                href="https://design-system.service.gov.uk/" target="_Blank">Government Design System</a>, however, some
            components differ from the government design system and our styles, components and patterns should be used
            in Gambling Commission digital services. </p>

        <p class="govuk-body">Specifically, the Gambling Commission styles, components and patterns which differ, are:
        </p>

        <h2 class="govuk-heading-m">Patterns</h2>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="/design/pattern/header">Header</a></h2>
        <p class="govuk-body">Gambling Commission branded header</p>


        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="/design/pattern/footer">Footer</a></h2>
        <p class="govuk-body ">Gambling Commission footer</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="/design/pattern/complete">Transaction complete</a>
        </h2>
        <p class="govuk-body">Last page of a transaction detailing completion of the process
            and any next steps</p>


        <h2 class="govuk-heading-m">Components</h2>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="/design/components/header">Header</a></h2>
        <p class="govuk-body govuk-!-margin-bottom-1">Gambling Commission branded header</p>

    </div>

</div>
{% endblock %}