{% extends "admin_layout.html" %}


{% block page_header %}

<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-l">{{title}}</h1>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">These patterns are additional to those provided in the <a
                href="https://design-system.service.gov.uk/" target="_blank">GOV Design System</a>.</p>

        <h2 class="govuk-heading-m">When to use these patterns</h2>
        <p class="govuk-body">Where possible, the core patterns from the GOV Design System should be used in the first
            instance.</p>
        <p class="govuk-body">These patterns have been designed, built and tested specifically for use in Gambling
            Commission digital services.</p>
        <p class="govuk-body">Each pattern has guidance on use, sample code and an example of it's use.</p>

    </div>


</div>
{% endblock %}