{% extends "admin_layout.html" %}


{% block page_header %}

<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-l">{{title}}</h1>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% from "tabs/macro.njk" import govukTabs %}
    {% from "table/macro.njk" import govukTable %}

    {% set detailHtml %}

    <h2 class="govuk-heading-m">Pattern</h2>
    <p class="govuk-body">This is used when asking the user to set a new password. </p>
    <p class="govuk-body">This might be for the first time, changing their password or resetting it using the forgotten
      password process.</p>


    <h2 class="govuk-heading-m">Example</h2>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gc-admin-border-div">

        <h1 class="govuk-heading-l">
          Set a new password
        </h1>

        <p class="govuk-body">We suggest you create a strong password. For example:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Use a password manager</li>
          <li>Use a minimum of 8 characters</li>
          <li>Use three or more words with spaces</li>
          <li>Use a mix of upper and lower case letters</li>
        </ul>

        <form method="get">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-width-two-thirds" for="password">
              Password
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-width-two-thirds" for="repeat-password">
              Confirm your password
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="repeat-password" name="repeat-password" type="text">
          </div>
          <button type="submit" class="govuk-button">
            Save password
          </button>
        </form>

      </div>

    </div>
  </div>


  <h2 class="govuk-heading-m">User research</h2>
  <p class="govuk-body">
    We need to perform specific user research around this pattern.
  </p>

  {% endset -%}


  {% set codeHtml %}



  <h2 class="govuk-heading-m">Implementation</h2>

  <p class="govuk-body">Last page in a transactional service journey.

  </p>

  <h2 class="govuk-heading-m">Html</h2>

  <pre><code class="html">&#x3C;div class=&#x22;gc-panel gc-panel--complete&#x22;&#x3E;
  &#x3C;h1 class=&#x22;govuk-heading-l&#x22;&#x3E;Application submitted&#x3C;/h1&#x3E;
  &#x3C;p class=&#x22;govuk-body-l&#x22;&#x3E;Reference 12345&#x3C;/p&#x3E;
  &#x3C;p class=&#x22;govuk-body&#x22;&#x3E;We have sent you an email with details of your application.&#x3C;/p&#x3E;
&#x3C;/div&#x3E;

&#x3C;h2 class=&#x22;govuk-heading-m&#x22;&#x3E;Next steps&#x3C;/h2&#x3E;
&#x3C;p class=&#x22;govuk-body&#x22;&#x3E;It takes about 14 days to process your application.&#x3C;/p&#x3E;
&#x3C;p class=&#x22;govuk-body&#x22;&#x3E;We will contact you if we need any additional information from you.&#x3C;/p&#x3E;

&#x3C;h2 class=&#x22;govuk-heading-m&#x22;&#x3E;Give us feedback about this service&#x3C;/h2&#x3E;
&#x3C;p class=&#x22;govuk-body&#x22;&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Tell us what you thought about this service&#x3C;/a&#x3E;. (Takes about 1 minute)&#x3C;/p&#x3E;</code></pre>



  {% endset -%}


  {{ govukTabs({
              items: [
                {
                  label: "Details",
                  id: "details-section",
                  panel: {
                    html: detailHtml
                  }
                },
                {
                  label: "Code",
                  id: "code-section",
                  panel: {
                    html: codeHtml
                  }
                }
              ]
            }) }}

</div>



</div>
{% endblock %}