{% extends "admin_layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Service Manual</h1>

    <p class="govuk-body">The digital service manual provides information and guidance for the successful delivery of
      digital services.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height">
      <a class="gc-panel-card__link-wrapper" href="/foundations">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Foundations</h3>
              <p class="gc-panel-card__description">The principles, standards and ways of working by which we design, build and deliver services</p>
        </div>
      </a>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height">
      <a class="gc-panel-card__link-wrapper" href="/design">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Design</h3>
              <p class="gc-panel-card__description">The styles, components, patterns and pages for building services</p>
        </div>
      </a>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height">
      <a class="gc-panel-card__link-wrapper" href="/content">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Content</h3>
              <p class="gc-panel-card__description">Content guidelines for writing for our services including voice, tone and lexicon</p>
        </div>
      </a>
    </div>

  </div>

  
  
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height">
      <a class="gc-panel-card__link-wrapper" href="/library">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Research library</h3>
              <p class="gc-panel-card__description">User research and insight library providing access to information relating to our services</p>
        </div>
      </a>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height">
      <a class="gc-panel-card__link-wrapper" href="/metrics">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Metrics</h3>
              <p class="gc-panel-card__description">Tools, techniques and data for measuring the satisfaction and performance of our services</p>
        </div>
      </a>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">

    <div class="gc-panel-card gc-panel-card-min-height">
      <a class="gc-panel-card__link-wrapper" href="/Prototyping">
        <div class="gc-panel-card__content">
          <h3 class="gc-panel-card__heading">Prototyping</h3>
              <p class="gc-panel-card__description">Tools and guidance for prototyping digital services for the Gambling Commission</p>
        </div>
      </a>
    </div>

  </div>
</div>
{% endblock %}