{% extends "admin_layout.html" %}

{% block page_header %}

<span class="govuk-caption-l">{{section}}</span>
<h1 class="govuk-heading-l">{{title}}</h1>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Terms and language used by the Gambling Commission and it's meaning.</p>

        <h2 class="govuk-heading-l">A</h2>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Annex A</span><br />
            A type of personal licence
        </p>

        <h2 class="govuk-heading-l">B</h2>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">B2B</span><br />
            Business 2 Business 
        </p>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">B2C</span><br />
            Business 2 Customer
        </p>

     

    </div>

</div>
{% endblock %}